.service {
  background-color: #f2eee6;
  padding: 10px;
}
.service .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.service .header h1 {
  margin-bottom: 0px;
  font-size: 50px;
}
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
 
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15rem,18rem)) ;
  grid-gap: 2rem;
  justify-content: center;
  position: relative;
}
.deco {
  width: 300px;
  text-align: center;
}
