@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
